
nav.nav-es-wrapper

  .nav-es-left
    .nav-es-main
      a(href='/es'): p elasticsearch
      
    .nav-es-subgroup
      a.sub(href='/pug/examples')
        p Examples
      a.sub(href='/pug/language')
        p API
      a.sub(href='/pug/api')
        p Language
      a.sub(href='/pug/cli')
        p CLI
      a.sub(href='/pug/engine')
        p Engine

  .nav-es-right
    a(href='/')
      div(class=['nav-es-icon', 'nav-es-icon-home'])
    a(href='/elasticsearch')
      div(class=['nav-es-icon', 'nav-es-icon-es'])
    a(href='/hapi')
      div(class=['nav-es-icon', 'nav-es-icon-hapi'])
    a(href='/redux')
      div(class=['nav-es-icon', 'nav-es-icon-redux'])
  