
nav.nav-wrapper
  a(class=home-link href='/')
    p.nav-title ehp
  .button-group
    a(class=es-link href='/elasticsearch')
      button.nav-button elasticsearch
    a(class=hapi-link href='/hapi')
      button.nav-button hapi js
    a(class=pug-link href='/pug')
      button.nav-button pug