
nav.nav-wrapper
  a(class=home-link href='/')
    include ../../public/svgs/ehp-logo.svg
  .button-group
    a(href='/elasticsearch')
      div(class= linkActive === 'es' ? 'es-icon-active' : 'es-icon' )
      
    a(href='/hapi')
      div(class= linkActive === 'hapi' ? 'hapi-icon-active' : 'hapi-icon' )

    a(href='/pug')
      div(class= linkActive === 'pug' ? 'pug-icon-active' : 'pug-icon' )
    
    a(href='/redux')
      div(class= linkActive === 'redux' ? 'redux-icon-active' : 'redux-icon' )
  