
nav.nav-wrapper
  a(class=home-link href='/')
    .nav-logo
  .button-group
    a(class=es-link href='/elasticsearch')
      .es-icon
    a(class=hapi-link href='/hapi')
      .hapi-icon
    a(class=pug-link href='/pug')
      .pug-icon