
doctype html
html(lang='en')
  include ../partials/head.pug
  body
    include ../partials/nav.pug
    .es-wrapper
      h1 Elasticsearch 

//- Nodes info API
//- https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-nodes-info.html

//- Replication @ /downloads/primaryReplication.pdf