
doctype html
html(lang='en')
  include ../partials/head-es.pug
  body
    .es-wrapper
      .es-sec1
        include ../partials/nav-es.pug
        .es-sec1-flex
          .es-sec1-color
          p.
            a distributed search 
            & analytics engine
      .es-transition

      .es-sec2
      .es-transition

      .es-sec3
      .es-transition
    
      h1 Elasticsearch 

//- Nodes info API
//- https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-nodes-info.html

//- Replication @ /downloads/primaryReplication.pdf