
doctype html
html(lang='en')
  include ../partials/head.pug
  body
    include ../partials/nav.pug
    h1 #{title}
    .index-wrapper
      p #{message}
      form.reddit-form(action="/reddit", method="get")
        input.reddit-input(type="text", id="reddit-input", name="reddit")
        button.reddit-button(type="submit") Submit
      .reddit-viewer #{redditPost}