
doctype html
html(lang='en')
  include ../partials/head-pug.pug
  body
    .pug-wrapper
      include ../partials/nav-pug.pug
    
      section.pExp
        .pExp__toc
          .pExp__toc-intro Lets look at some pug syntax in action

          .pExp__toc-links
            p Examples Pug CLI are here
            p Examples of rendering Pug are here

          .pExp__toc-buttonGroup
            button Elements
            button Classes & Id's
            button Attributes

        .pExp__elements
          h2 Elements
          .pExp__elements-code-flex
            pre.line-numbers
              code.language-pug#pExp__code-pug foo

            pre.line-numbers
              code.language-html#pExp__code-html `<foo></foo>`

  script(src='/js/prism.js')
  script(src='/js/prism-line-numbers.js')
  script(src='/js/prism-pug.js')