
doctype html
html(lang='en')
  include ../partials/head-pug.pug
  body
    .eng-wrapper
      include ../partials/nav-pug.pug
      section.eng-body
        p Pug Engine
        p.
          Pug JS comes with its own rendering engine. 

        .

  include ../partials/footer.pug