
doctype html
html(lang='en')
  include ../partials/head-pug.pug
  body
    include ../partials/nav-pug.pug
    .pug-wrapper
      section.sec1-pug
        .sec1-top
          .sec1-links-group
            a(href='/pug/examples')
              p.sec1-link Examples
            a(href='/pug/language')
              p.sec1-link Language
            a(href='/pug/api')
              p.sec1-link API
            a(href='/pug/engine')
              p.sec1-link Engine

        .sec1-middle
          //- .sec1-branding-group
          p.sec1-branding-text Pug JS
          include ../../public/svgs/pug-logo-color.svg
          
          
        .sec1-bottom
          .sec1-summary-group 
            p.sec1-summary Pug is a templating language that can be converted to regular HTML. Pug is a very limited subset of Javascript with its own syntax, own keywords, own conventions and its own compiler. Pug JS is known for great performance and clean - simple - terse syntax.
            p A template engine implemented in JavaScript

      section.sec2-pug
       p An example of Pug file and the HTML it generates

    //-   .intro-pug-html 
    //-     pre.line-numbers
    //-       code(class=['pug', 'language-pug']) #{pugSample}
    //-     pre.line-numbers
    //-       code(class=['html', 'language-html']) #{htmlSample}

  script(src='/js/prism.js')
  script(src='/js/prism-line-numbers.js')
  script(src='/js/prism-pug.js')


//-       .pug-code. 
//-         `pug:  {
//-   name: 'Pug',
//-   runtime: {
//-     merge: [Function: pug_merge],
//-     classes: [Function: pug_classes],
//-     style: [Function: pug_style],
//-     attr: [Function: pug_attr],
//-     attrs: [Function: pug_attrs],
//-     escape: [Function: pug_escape],
//-     rethrow: [Function: pug_rethrow]
//-   },
//-   cache: {},
//-   filters: {},
//-   compile: [Function],
//-   compileClientWithDependenciesTracked: [Function],
//-   compileClient: [Function],
//-   compileFile: [Function],
//-   render: [Function],
//-   renderFile: [Function],
//-   compileFileClient: [Function],
//-   __express: [Function]
//- }`

  
    