
doctype html
html(lang='en')
  include ../partials/head.pug
  body
    include ../partials/nav.pug
    .api-wrapper
      .api-banner
        include ../../public/svgs/pug-logo-color.svg
        p Pug API

      .api-toc
        p Public API Methods
        .api-button-group
          .api-button-group-render
            a(href='#renderAPI') render
            a(href='#renderFileAPI') renderFile

          .api-button-group-opts
            a(href='#optionsAPI') options
            a(href='#localsAPI') locals
          .api-button-group-compile
            a(href='#compileAPI') compile
            a(href='#compileClientAPI') compileClient
            a(href='#compileClientWithAPI') compileClientWithDependeciesTracked
            a(href='#compileFileAPI') compileFile
            a(href='#compileFileClientAPI') compileFileClient

      .api-code 
        pre.line-numbers
          code.language-js.
            // What the pug variable returns when invoked.
            const pug = require('pug');

            console.log(pug);

            // our pug variable would expose this object 
            {
              name: 'Pug',
              runtime: {
                merge: [Function: pug_merge],
                classes: [Function: pug_classes],
                style: [Function: pug_style],
                attr: [Function: pug_attr],
                attrs: [Function: pug_attrs],
                escape: [Function: pug_escape],
                rethrow: [Function: pug_rethrow]
              },
              cache: {},
              filters: {},
              compile: [Function],
              compileClient: [Function],
              compileClientWithDependenciesTracked: [Function],
              compileFile: [Function],
              compileFileClient: [Function],
              render: [Function],
              renderFile: [Function],
              __express: [Function]
            }

      include ../partials/mx-api2.pug
      include ../partials/mx-api3.pug

      +api3(api.render)
      +api3(api.renderFile)

  script(src='/js/prism.js')
  script(src='/js/prism-line-numbers.js')
  script(src='/js/prism-pug.js')