
doctype html
html(lang='en')
  include ../partials/head.pug
  body
    include ../partials/nav.pug
    .pug-wrapper
      h1 Pug JS 
      p A template engine implemented in JavaScript
      p See how the Pug engine works
      p An example of Pug file and the HTML it generates
      p Pug is the view portion of the ehp Stack

      .intro-pug-html 
        pre.line-numbers
          code(class=['pug', 'language-pug']) #{pugSample}
        pre.line-numbers
          code(class=['html', 'language-html']) #{htmlSample}

  script(src='/prism.js')
  script(src='/prism-line-numbers.js')
  script(src='/prism-pug.js')


//-       .pug-code. 
//-         `pug:  {
//-   name: 'Pug',
//-   runtime: {
//-     merge: [Function: pug_merge],
//-     classes: [Function: pug_classes],
//-     style: [Function: pug_style],
//-     attr: [Function: pug_attr],
//-     attrs: [Function: pug_attrs],
//-     escape: [Function: pug_escape],
//-     rethrow: [Function: pug_rethrow]
//-   },
//-   cache: {},
//-   filters: {},
//-   compile: [Function],
//-   compileClientWithDependenciesTracked: [Function],
//-   compileClient: [Function],
//-   compileFile: [Function],
//-   render: [Function],
//-   renderFile: [Function],
//-   compileFileClient: [Function],
//-   __express: [Function]
//- }`

  
    