
doctype html
html(lang='en')
  include ../partials/head-pug.pug
  body
    .pug-wrapper
      include ../partials/nav-pug.pug
      section.pug-body
        .pug-fileNames
          p index.pug
          p index.html
          
        .pug-syntax-intro
          pre.line-numbers
            code.language-pug #{pugSample}
          pre.line-numbers
            code.language-html #{htmlSample}

        .pug-about
          p.pug-bullet Pug is a templating language that compiles to a HTML string.
          
          p.pug-bullet Pug is written in Javascript. 
          
          p.pug-bullet Pug can be used as a module or as a CLI tool.
          
          p.pug-bullet Pug is known for clean|simple|terse syntax.


  script(src='/js/prism.js')
  script(src='/js/prism-line-numbers.js')
  script(src='/js/prism-pug.js')

  include ../partials/footer.pug