
doctype html
html(lang='en')
  include ../partials/head-pug.pug
  body
    .pug-wrapper
      include ../partials/nav-pug.pug
      section.pug-sec-dark
        .pug-short-intro
          p Pug is a templating language that compiles to a HTML string. 
          p It combines performance with a clean, simple & terse syntax.

        .pug-code-pre
          p Below is an example of the file we can write, which ends in a .pug file extension. The code on the right is the rendered .html file that Pug JS has produced.
          
        .pug-code-sample
          .pug-code-item
            p index.pug
            pre.line-numbers
              code.language-pug #{pugSample}

          .pug-code-item
            p index.html
            pre.line-numbers
              code.language-html #{htmlSample}

        a(href='/pug/examples'): p See More Examples

      include ../mixins/border-zigzag.pug
      +borderZigzag()    

      section.pug-sec-light
        .pug-long-intro
          p Pug is written in Javascript so it is native to NodeJS and the browser.
          p Build reusable components with partials, mixins and blocks.
          p Official Docs
          p Official Source Code
          p Pug's engine can produce fully compiled HTML or can produce a curried function for our future use.

  script(src='/js/prism.js')
  script(src='/js/prism-line-numbers.js')
  script(src='/js/prism-pug.js')

  include ../partials/footer.pug