
nav {
  align-items: center;
  background: rgb(248, 82, 21);
  color: rgb(12, 56, 97);
  display: flex;
  justify-content: space-evenly;
}
nav > h1 {
  
  font-size: 7vw;
  margin: 0;
  padding: 20px 0;
  text-shadow: -2px -2px 1px rgba(154, 255, 255, 1);
}

#favorites-button {
  border-radius: 3px;
  box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.7);
  background: rgb(2, 73, 95);
  color: rgb(245, 245, 245);
  font-size: 2.5vw;
  
  width: 12vw;
}

#pagination-limit-wrapper {
  align-items: center;
  border: 2px solid rgb(12, 56, 97);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

h3 {
  font-size: 2vw;
  margin: 10px 0;
}

#pag-limit-10, #pag-limit-25, #pag-limit-50 {
  background: rgb(169, 219, 235);
  box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.7);
  font-size: 1.5vw;
  margin: 0 5px;
}

.limit-button-active {
  background: rgb(227, 228, 168);
  box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.7);
  font-size: 1.6vw;
  margin: 0 5px;
}