/* globals */
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}

/* variables */
:root {
  --main-dark: #1c1c1c;
  --gray: #333;
  --med-gray: #414141;
  --lt-gray: #555;
  --alt-gray: #262822;
  --blue: #4666FF;
  --red: #FF4666;
  --green: #66FF46;
  --purple: #8246FF;
  --lt-blue: #46C2FF;
  --orange: #FF8246;
  --yellow: #FFDF46;
  --cream: #fdf5e6;
  --pug: #A86454;
  --pug-tan: #B08D64;
}

/* index */
.index-wrapper {
  background: var(--main-dark);
  min-height: 100vh;
}

.sec1 {
  align-items: center;
  background-image: url('/svgs/idx-sec1.svg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 100vw;
}

.sec1-text-group {
  color: var(--cream);
  font-size: 6vw;
  font-weight: 300;
  opacity: .8;
}
.sec1-text {
  padding-left: 10vw;
}
.sec1-spacer {
  height: 15vh;
}


.sec2 {
  background: var(--red);
  height: 50vh;
  margin-top: -2px;
}

.sec2-text-group {
  color: var(--alt-gray);
  font-size: 6vw;
  font-weight: 300;
  height: 100%;
  margin: 0 auto;
  width: 90%;
}
.sec2-features {
  align-items: center;
  display: flex;
  font-size: 4vw;
  height: 80%;
  justify-content: space-evenly;
}
.sec2-feature {
  align-items: center;
  background: rgb(248, 139, 157);
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
  width: 30%;
}
.sec2-text {
  text-align: center;
}
.sec2-text-lg {
  font-size: 3.5vw;
  text-align: center;
}
#server-svg {
  height: 50%;
  width: 60%;
}
#expand-svg {
  height: 50%;
  width: 60%;
}
#links-svg {
  height: 50%;
  width: 60%;
}

.sec3 {
  align-items: center;
  background-image: url('/svgs/idx-sec3.svg');
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  height: 80vh;
  margin-top: -2px;
  width: 100vw;
}
.sec3-core-group {
  align-items: center;
  /* border: thin solid gray; */
  color: var(--cream);
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: space-evenly;
  width: 50vw;
}
.sec3-core-group > h3 {
  font-size: 5vw;
}
.sec3-core-group > p {
  font-size: 5vw;
}
#svg-puzzle {
  height: 40vw;
  width: 40vw;
}


.es-wrapper {
  background: var(--red);
  min-height: 100vh;
}