/* globals */
* {
  margin: 0;
  padding: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}

/* nav */
.nav-wrapper {
  align-items: center;
  background: #333;
  display: flex;
  height: 10vw;
  justify-content: space-between;
}
.home-link {

}

.nav-logo {
  background-image: url('/svgs/ehp.svg');
  height: 9vw;
  width: 18vw;
}
.button-group {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.nav-button {
  background: yellowgreen;
  border: none;
  border-radius: 1vw;
  color: brown;
  font-size: 2.2vw;
  
}

.es-icon {
  background-image: url('/svgs/es-outline.svg');
  height: 7vw;
  width: 7vw;
}
.pug-icon {
  background-image: url('/svgs/pug-outline.svg');
  height: 7vw;
  width: 7vw;
}
.hapi-icon {
  background-image: url('/svgs/hapi-outline.svg');
  height: 7vw;
  width: 7vw;
}