
.api-wrapper {
  background: var(--pug);
  min-height: 100vh;
  padding-top: 10vw;
  width: 100vw;
}

.api-banner {
  align-items: center;
  background: var(--cream);
  display: flex;
  height: 15vw;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 90%;
}
.api-banner > p {
  font-size: 12vw;
}

/* Table of contents */
.api-toc {
  background: rgba(253, 245, 230, 0.4);
  border-radius: 2vw;
  color: var(--main-dark);
  margin: 8vw auto;
  width: 80%;
}
.api-toc > p {
  font-size: 3.5vw;
  text-align: center;
}
.api-button-group {
  display: flex;
  font-size: 2vw;
}
.api-button-group-render > a {
  background: var(--lt-blue);
  border-radius: 1vw;
  color: var(--main-dark);
  display: inline-block;
  margin: .5vw 0;
  padding: .5vw;
  text-align: center;
}
.api-button-group-opts > a {
  background: var(--green);
  border-radius: 1vw;
  color: var(--main-dark);
  display: inline-block;
  margin: .5vw;
  padding: .5vw;
  text-align: center;
}
.api-button-group-compile > a {
  background: var(--orange);
  border-radius: 1vw;
  color: var(--main-dark);
  display: inline-block;
  margin: .5vw 0;
  padding: .5vw;
  text-align: center;
}


/* Code Example */
.api-code {
  margin: 0 auto;
  width: 75%;
}

.api-grid {
  background: var(--cream);
  border-radius: 1vw;
  color: var(--main-dark);
  display: grid;
  font-size: 3vw;
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-template-rows: repeat(7, 1fr) auto;
  
  margin: 4vw auto;
  width: 90%;
}
.api-gCenter {
  align-items: center;
  display: flex;
  justify-content: center;
}
.api-gBorder {
  border: thin solid var(--main-dark);
  box-sizing: border-box;
}
.api-g1 {
  background: var(--alt-gray);
  border-radius: 1vw 1vw 0 0;
  color: var(--cream);
  font-size: 5vw;
  grid-area: 1 / 1 / 2 / 6;
  height: 100%;
  text-align: center;
}
.api-g2 {
  background: var(--orange);
  grid-area: 2 / 1 / 3 / 2;
}
.api-g3 {
  font-size: 2vw;
  grid-area: 2 / 2 / 3 / 6;
}
.api-g4 {
  background: rgba(128, 128, 128, 0.75);
  grid-area: 3 / 1 / 4 / 2;
}
.api-g5 {
  background: rgba(128, 128, 128, 0.4);
  grid-area: 3 / 2 / 4 / 3;
}
.api-g6 {
  background: rgba(128, 128, 128, 0.4);
  grid-area: 3 / 3 / 4 / 4;
}
.api-g7 {
  background: rgba(128, 128, 128, 0.4);
  grid-area: 3 / 4 / 4 / 6;
}
.api-g8 {
  background: rgba(128, 128, 128, 0.4);
  grid-area: 4 / 1 / 5 / 2;
}
.api-g9 {
  grid-area: 4 / 2 / 5 / 3;
}
.api-g10 {
  background: rgba(255, 0, 0, 0.15);
  grid-area: 4 / 3 / 5 / 4;
}
.api-g11 {
  grid-area: 4 / 4 / 5 / 6;
}

.api-g12 {
  background: rgba(128, 128, 128, 0.4);
  grid-area: 5 / 1 / 6 / 2;
}
.api-g13 {
  grid-area: 5 / 2 / 6 / 3;
}
.api-g14 {
  grid-area: 5 / 3 / 6 / 4;
}
.api-g15 {
  grid-area: 5 / 4 / 6 / 6;
}
.api-g16 {
  background: rgba(128, 128, 128, 0.4);
  grid-area: 6 / 1 / 7 / 2;
}
.api-g17 {
  grid-area: 6 / 2 / 7 / 3;
}
.api-g18 {
  grid-area: 6 / 3 / 7 / 4;
}
.api-g19 {
  grid-area: 6 / 4 / 7 / 5;
}
.api-g20 {
  background: var(--orange);
  grid-area: 7 / 1 / 8 / 2;
}
.api-g21 {
  /* font-size: 2vw; */
  grid-area: 7 / 2 / 8 / 5;
}
.P-api-grid22 {
  border-radius: 0 0 2vw 2vw;
  background: var(--alt-gray);
  color: var(--cream);
  grid-area: 8 / 1 / 9 / 5;
}