
.pug-wrapper {
  background: var(--pug);
  min-height: 100vh;
  padding: 2vw 0;
}

.pug-top {
  align-items: flex-start;
  display: flex;
  height: 30%;
  justify-content: flex-end;
  width: 90%;
}
.pug-fileNames {
  align-items: flex-end;
  color: var(--main-dark);
  display: flex;
  font-size: 7vw;
  height: 20%;
  justify-content: space-between;
  margin: 0 auto;
  width: 85%;
}

.pug-syntax-intro {
  display: flex;
  justify-content: space-evenly;
  margin: 1vw auto 4vw;
}

.pug-syntax-intro > pre {
  font-size: 2vw !important;
  width: 35vw;
}

.pug-about {
  background: rgba(255, 250, 250, 0.7);
  box-shadow: 0px 0px 10px var(--main-dark) inset;
  margin: 0 auto;
  padding: 6vw 2vw;
  width: 90%;
}

.pug-bullet {
  color: var(--main-dark);
  font-size: 4vw;
  margin: 2.5vw auto;
  text-align: left;
  width: 90%;
}
