
.pug-wrapper {
  background: var(--pug);
  min-height: 100vh;
  padding: 2vw 0;
}

.pug-sec-dark {
  background: rgba(255, 255, 255, 0.8
  );
  box-shadow: 0px 0px 10px var(--main-dark) inset;
  border-radius: 1vw;
  color: var(--main-dark);
  
  margin: 5vw auto 0;
  padding: 5vw 0;
  width: 90vw;
}

.pug-short-intro {
  font-size: 3.5vw;
  margin: auto;
  width: 80%;
}
.pug-short-intro > p {
  margin: 2vw 0;
}

.pug-code-pre {
  font-size: 2.5vw;
  
  margin: 5vw auto 2vw;
  width: 80%;
}

.pug-code-sample {
  display: flex;
  justify-content: space-evenly;
  margin: 1vw auto 4vw;
  width: 95%;
}
.pug-code-item {
  background: var(--orange);
  border-radius: 1vw;
  padding: 0 1vw 1vw;
  
  text-align: center;
  width: 45%;
}
.pug-code-item > p {
  color: var(--main-dark);
  font-size: 4vw;
  padding: 1vw;
}
.pug-code-item > pre {
  font-size: 1.6vw !important;
}


#svg-pg-border-zigzag {
  height: 15vw;
  width: 100%;
}

.pug-sec-light {
  background: var(--lt-pug);
  color: var(--main-dark);
  font-size: 3vw;

  margin-top: -5px;
  padding: 5vw;
  width: 100vw;
}
.pug-long-intro {
  margin: 5vw auto;
  width: 80%;
}